---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<Container class="pt-28">
		<div class="text-center lg:text-left lg:flex lg:items-end lg:justify-between">
			<div>
				<h2 class="tracking-tighter text-stone-800">
					<span class="text-4xl font-bold sm:text-5xl md:text-6xl lg:text-9xl">Contact</span>
				</h2>
				<p class="max-w-md mx-auto lg:mx-0 mt-6 text-lg font-normal leading-8 text-opacity-50 text-stone-800">
					Tortor, eget vitae at malesuada donec. Egestas et tincidunt dictumst non.
				</p>

				<div class="mx-auto pt-20">
					<div class="mx-auto max-w-2xl lg:mx-0">
						<h2 class="text-3xl font-bold tracking-tight text-gray-800">Our offices</h2>
						<p class="mt-6 text-lg leading-8 text-gray-600">
							Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam
							sed lacus, fames.
						</p>
					</div>
					<div
						class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
						<div>
							<h3 class="border-l border-stone-800 pl-6 font-semibold text-gray-800">Los Angeles</h3>
							<address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
								<p>4556 Brendan Ferry</p>
								<p>Los Angeles, CA 90210</p>
							</address>
						</div>
						<div>
							<h3 class="border-l border-stone-800 pl-6 font-semibold text-gray-800">New York</h3>
							<address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
								<p>886 Walter Street</p>
								<p>New York, NY 12345</p>
							</address>
						</div>
						<div>
							<h3 class="border-l border-stone-800 pl-6 font-semibold text-gray-800">Toronto</h3>
							<address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
								<p>7363 Cynthia Pass</p>
								<p>Toronto, ON N3Y 4H8</p>
							</address>
						</div>
						<div>
							<h3 class="border-l border-stone-800 pl-6 font-semibold text-gray-800">London</h3>
							<address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
								<p>114 Cobble Lane</p>
								<p>London N1 2EF</p>
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</Container>
</Layout>
